body {
    margin: 0px;
    padding: 0px;
    background-color: cornflowerblue;


}

header {
    background-color: blue;


}

#titleGroup {
    text-align: center;

}
#searchbarGroup {
    text-align: center;
}
h1 {
    color: white;
    font-size: 40px;

}